.accordion__container {
  width: 100%;
}
.accordion__accordionbtn {
  width: 100%;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
  margin-top: 5px;
}

.accordion__accordionbtn:hover {
  background-color: #ccc;
}

.accordion__accordionpanel {
  padding: 0 18px;
  display: block;
  background-color: white;
  overflow: hidden;
}
