.accordion__container {
  width: 100%;
  margin-top: 10px;
}

.accordion__wrapper {
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.accordion__accordionbtn {
  width: 100%;
  border-radius: 10px;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 18px;
  border: none;
  outline: none;
  color: var(--darkblue-color);
}

.accordion__accordionbtn.active {
  background-color: var(--darkblue-color);
  color: var(--white-color);
  box-shadow: none;
}

.accordionbtn__contentwrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordionbtncontent__holdertitle {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.accordionbtncontent__holderlocation {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
  padding: 5px;
}

.accordionbtncontent__holderlocation.active {
  box-shadow: inset -2px -2px 8px rgba(40, 39, 86, 1),
    inset -2px -2px 12px rgba(40, 39, 86, 0.5),
    inset 2px 2px 4px rgba(40, 39, 86, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.accordionbtncontent__holderlocation span {
  margin-top: 5px;
}

.accordion__actionwrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row nowrap;
}

.accordion__accordionpanel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  transition: 0.4s;
  border-radius: 10px;
}

.accordion__accordionpanel.active {
  display: block;
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}
