/*
  data manager action div CSS
*/
.datamanageraction__container {
  width: 100%;
}

.datamanageraction__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.datamanageraction__button {
  height: 25px;
  width: 30px;
  color: var(--white-color);
  background-color: var(--darkblue-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datamanageraction__button span {
  margin-top: 5px;
}
/*
  data manager delete action modal CSS
*/

.datamanagerdelete__container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datamanagerdelete__wrapper {
  width: 400px;
  background-color: var(--white-color);
  color: var(--darkblue-color);
  border-radius: 10px;
}

.datamanagerdelete__closebtnwrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.datamanagerdelete__closebtn {
  padding: 10px 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--darkblue-color);
  border-radius: 40px;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datamanagerdelete__closebtn:hover {
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.datamanagerdelete__closebtn span {
  margin-top: 5px;
  margin-left: 5px;
}
